 <header>
        <div class="jumbotron jumbotron-fluid ">
            <div class="container">
                <h1 class="display-4">Blog App</h1>
                <p class="lead"><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id, eum explicabo sed est hic corrupti et impedit, quasi quis alias, qui provident natus enim tempore? Nesciunt repellendus debitis minus!</i></p>
            </div>
        </div>
    </header>